### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
heros_of_pymoli = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(heros_of_pymoli)

## Player Count

* Display the total number of players

In [2]:
players=purchase_data.loc[:, "SN"]
players = players.drop_duplicates()
players_total=players.count()
pd.DataFrame({"Total Player": [players_total]})

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
#Number of unique items
unique_items_count= len(purchase_data["Item ID"].unique())

#Average Purchase Price
avg_purchase_price= purchase_data["Price"].mean()

#Total Number of Purchases
total_purchases= len(purchase_data["Purchase ID"].unique())

#Total Revenue
total_revenue= purchase_data["Price"].sum()

#Create Summary
purchasing_table= pd.DataFrame([{
    "Number of Unique Items": unique_items_count,
    "Average Price": avg_purchase_price,
    "Number of Purchases": total_purchases,
    "Total Revenue": total_revenue,
}], columns=["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"])

purchasing_table["Average Price"]= purchasing_table["Average Price"].map("${0:,.2f}".format)
purchasing_table["Total Revenue"]= purchasing_table["Total Revenue"].map("${0:,.2f}".format)
purchasing_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
# Count and Percentage of Male Player


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame